# Python
__pycache__/
*.pyc
*.pyo

# Build artifacts (everything in build/ is generated)
build/*

# Arch Linux package build artifacts
pkg/

# Self-hosted compiler build artifacts
src/build/*

# Generated
*.coreir
*.cir
*.ccr
*.s
*.debug
core_math.so
libcore_qt6.c
libcore_qt6.so
qt6_launcher.cpp
*.so
*.o
__pycache__/
build/
